.hero3 {
    width: 1920px;
    height: 236px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero3 .container {
    width: 1440px;
    height: 236px;
}

.hero3 .container h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #262626;
    margin-bottom: 32px;
    margin-top: 0;
}
