body {
    margin: 0;
}

.header1 {
    width: 1920px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header1 .container {
    width: 1440px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown1 button {
    padding: 15px 50px;
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 14px 0 0 14px;
}

.dropdown1 span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #5666BE;
    margin-left: 20px;
}

.input {
    border: 1px solid #e1e1e1;
    border-radius: 0 14px 14px 0;
    width: 555px;
    height: 48px;
    margin-left: -50px;
}

.input input {
    border: 1px solid #e1e1e1;
    border-radius: 0 14px 14px 0;
    padding: 15px 0;
    border: none;
    width: 444px;
    font-weight: 400;
    font-size: 16px;
    color: #aaa;
    padding-left: 30px;
    background: #f8f8f8;
}
.input button {
    padding: 15px 33px;
    /* height: 48px;
    width: 80px; */
    border: none;
    border-radius: 0 14px 14px 0;
    background: #f8f8f8;
}

.dropdown2 button {
    padding: 14px 20px;
    border-radius: 14px;
    border: none;
    background-color: #EEF4FF;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #5666BE;
    margin-left: 60px;
    display: flex;
    gap: 5px;
}

.sign_in button {
    border-radius: 14px;
    padding: 7px 24px;
    padding: 14px 40px;
    border: none;
    background-color: #3F51B5;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    display: flex;
    gap: 12px;
}


